# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/

# Test coverage
.coverage
htmlcov/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Media and static files
media/
static/

.env